.context-menu {
    z-index: 2;
}
.context-menu .button {
    border: none;
    border-radius: 0px;
    height: 25px;
    line-height: 25px;
    padding: 5px;
}
.context-menu .button:first-child {
    border-radius: 20px 20px 0px 0px;
}
.context-menu .button:last-child {
    border-radius: 0px 0px 20px 20px;
}
.context-menu .button:hover {
    border: none;
    background-color: white;
    color: #292C79;
}
.context-menu button:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.context-menu button:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
