.context-menu .row {
    align-items: center;
    padding: 0px 2px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.7;
}
.context-menu .row .button:first-child {
    margin-left: auto;
}
.context-menu .row > * {
    margin: 0px 2px;
}