<div class="context-menu" #contextMenuRoot (blur)="onAction()">
    <div class="button text-button secondary" data-action="edit" (click)="onAction($event)">
        Edit
    </div>
    @if (type() == "media") {
        <div class="button text-button secondary" data-action="open" (click)="onAction($event)">
            Open Externally
        </div>
    }
    <div class="row">
        Move
        <div class="button text-button secondary" data-action="move-up" (click)="onAction($event)">
            ↑
        </div>
        <div class="button text-button secondary" data-action="move-down" (click)="onAction($event)">
            ↓
        </div>
    </div>
    <div class="row">
        Insert
        <div class="button text-button secondary" data-action="insert-above" (click)="onAction($event)">
            ↑
        </div>
        <div class="button text-button secondary" data-action="insert-below" (click)="onAction($event)">
            ↓
        </div>
    </div>
    <div class="button text-button secondary" data-action="delete" (click)="onAction($event)">
        Delete
    </div>
</div>