.controls-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.button {
    margin: 0px 5px;
    width: 70px;
    height: 70px;
}

#remote-control-btn {
    position: relative;
}
#ws-connection-dot {
    position: absolute;
    right: 10px;
    bottom: 10px;

    width: 10px;
    height: 10px;
    border-radius: 5px;
}
#ws-connection-dot[data-status=connected] {
    background-color: lime;
}
#ws-connection-dot[data-status=disconnected] {
    background-color: red;
    animation: blinker 2s linear 10;
}

.disp-mode {
    margin-right: auto;
}
.toggle-button-group {
    display: inline flex;
    flex-direction: row;
}
.toggle-button-group .button {
    border: 1px solid white;
    border-radius: 0px;
    margin: 0px;
    width: 65px;
    height: 25px;
}
.toggle-button-group .button:hover {
    background-color: white;
    color: #292C79;
    opacity: 0.7;
}
.toggle-button-group .button.selected {
    background-color: white;
    color: #292C79;
    opacity: 1;
}
.toggle-button-group .button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.toggle-button-group .button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}