.controls-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.button {
    margin: 0px 5px;
    width: 70px;
    height: 70px;
}

#remote-control-btn {
    position: relative;
}
#ws-connection-dot {
    position: absolute;
    right: 10px;
    bottom: 10px;

    width: 10px;
    height: 10px;
    border-radius: 5px;
}
#ws-connection-dot[data-status=connected] {
    background-color: lime;
}
#ws-connection-dot[data-status=disconnected] {
    background-color: red;
    animation: blinker 2s linear 10;
}