<section class="controls-section">
    @if (remoteSetupDialogOpen()) {
        <remote-setup-dialog (closeDialog)="closeRemoteQr()" />
    }
    <div class="disp-mode">
        <span>Display: </span>
        <div class="toggle-button-group" [attr.data-mode]="slideshowDispMode()">
            @for (mode of ['blank', 'slide', 'media']; track mode) {
                <div
                    class="button text-button"
                    [class.selected]="slideshowDispMode() == mode"
                    (click)="changeSlideshowDispMode($any(mode))"
                >
                    {{mode}}
                </div>
            }
        </div>
    </div>
    <div
        class="button icon-button"
        (click)="openSlideshow()"
    >
        <img src="icons/window-plus.svg">
    </div>
    <div
        id="remote-control-btn" class="button icon-button"
        [class.hidden]="serverlessMode == 'true'"
        (click)="openRemoteQr()"
    >
        <img src="icons/remote-control.svg">
    </div>
    <div
        class="button icon-button"
        (click)="openSettings()"
    >
        <img src="icons/settings.svg">
    </div>
</section>