section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.header h1 {
    margin-right: auto;
}

playlist-setup {
    margin: auto;
}

.row {
    flex-grow: 1;
    min-height: 0;
}

slides-section {
    width: 60%;
    padding-right: 5px;
}
media-section {
    width: 40%;
    padding-right: 5px;
}
