.playlist-setup-section {
    width: 30vw;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

p {
    margin: 5px 0px;
}

new-playlist-dialog {
    position: absolute;
    left: calc((100vw - 800px) / 2);
    top: calc((100vh - 500px) / 2);
}