<section class="playlist-setup-section">
    <new-playlist-dialog
        [class.hidden]="!newPlaylistDialogOpen()"
        [errorMessage]="newPlaylistDialogErr()"
        (submit)="onNewPlaylistSubmit($event)"
    />
    <p>{{translations.no_playlist_open}}</p>
    <div class="button text-button primary" (click)="fileInput.click()">
        {{translations.open_playlist}}
    </div>
    <input #fileInput class="hidden" type="file" accept=".txt,.json" (change)="openPlaylist($event)" />
    <p>{{translations.or}}</p>
    <div id="new-playlist-btn" class="button text-button secondary" (click)="newPlaylist()">
        {{translations.new_playlist}}
    </div>
</section>