section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
}

.header h1 {
    margin-right: auto;
}

.header p {
    margin-right: 5px;
}

.header .icon-button {
    width: 40px;
    height: 40px;
}

.icon-button>*:first-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

playlist-setup {
    margin: auto;
}

div.row {
    height: calc(100% - 60px);
}

slides-section {
    width: calc(60% - 5px);
    margin-right: 10px;
}
media-section {
    width: calc(40% - 5px);
}

new-playlist-dialog {
    position: absolute;
    left: calc((100vw - 800px) / 2);
    top: calc((100vh - 500px) / 2);
}