main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 5px;
    height: 100vh;

    background-color: #292C79;
    color: white;
}

playlist-section, preview-section {
    display: flex;
    flex-direction: column;
    width: calc(50% - 6px);
    height: 95vh;
    margin: 3px;
}
about-section {
    margin-top: auto;
    margin-bottom: 10px;
}

file-picker {
    position: absolute;
    left: calc((100vw - 500px) / 2);
    top: calc((100vh - 500px) / 2);
}

@media (max-aspect-ratio: 1/1) {
    playlist-section {
        width: 100vw;
    }
    preview-section {
        display: none;
    }
}