section {
    height: 100%;
}
.button {
    align-self: center;
    justify-self: center;
}
.preview-frame, video {
    width: 100%;
    aspect-ratio: 16 / 9;
}
controls-section {
    margin-top: auto;
}