<div
    class="slide" [class.selected]="selected() >= 0"
    (click)="handleSlideClick()"
>
    <h4>{{data().template}}</h4>
    <h2>{{data().preview}}</h2>
    @for (subslide of $any(data()).subslides; track subslide) {
        <p
            (click)="handleSubslideClick($event, $index + 1)"
            [class.selected]="selected() === $index + 1"
        >
            {{subslide}}
        </p>
    }
    @if (data().hasPlayback) {
        <div class="playback-controls">
            <div class="button icon-button" (click)="play($event)">
                ▶️
            </div>
            <div class="button icon-button" (click)="pause($event)">
                ⏸️
            </div>
            <div class="button icon-button" (click)="stop($event)">
                ⏹
            </div>
            <p class="time-display">{{playbackTimer()}}</p>
        </div>
    }
</div>