.top-bar, .top2-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    white-space: pre;
}
.bible-template .left {
    margin-left: 10%;
}
.bible-template .right {
    text-align: right;
}
.bible-template h2 {
    font-size: 12vh;
}
.bible-template h3 {
    font-size: 10vh;
}
.bible-template h5 {
    font-size: 6vh;
}

.bible-template {
    width: 100%;
}

.bible-template p {
    width: 100%;
    white-space: pre-line;
    overflow-y: auto;
    scrollbar-width: 0px;
    font-size: 8vh;
}