main {
    background-size: contain;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
    aspect-ratio: 16 / 9;
}

* {
    color: white;
    font-family: "Arial";
    margin: 0%;
    display: flex;
    flex: 1;
}

h1 {
    font-size: 13vh;
}

h2 {
    font-size: 12vh;
}

h3 {
    font-size: 10vh;
}

p {
    font-size: 8vh;
}

h1,h2,h3,h4,h5,h6,p {
    line-height: 1.1;
}