<main style="background-image: url('background.svg');">
    <div class="media-content" [class.invisible]="!showMedia()">
        @if (media().subtype == 'video') {
            <video-player
                [media]="media()"
                [playbackRequest]="playbackRequest()"
                (playbackTimerChange)="onPlaybackTimerChange($event)"
            />
        }
        @if (media().subtype == "image") {
            <image-template [media]="$any(media())" />
        }
        <youtube-player
            [media]="media()"
            [class.invisible]="media().subtype != 'youtube'"
            [playbackRequest]="playbackRequest()"
            (playbackTimerChange)="onPlaybackTimerChange($event)"
        />
    </div>
    
    <div class="slide-content" [class.hidden]="!showSlide()" [style.color]="media().contrastColor">
        @if (slide().subtype == "welcome") {
            <welcome-template [slide]="$any(slide())" />
        }
        @if (slide().subtype == "bible") {
            @if (subslideIdx() == 0) {
                <title-template [slide]="$any(slide()).toTitleSlide()" />
            } @else {
                <bible-template [slide]="$any(slide())" [subslideIdx]="subslideIdx()" />
            }
        }
        @if (slide().subtype == "song") {
            @if (subslideIdx() == 0) {
                <title-template [slide]="$any(slide()).toTitleSlide()" />
            } @else {
                <song-template [slide]="$any(slide())" [subslideIdx]="subslideIdx()" />
            }
        }
        @if (slide().subtype == "title") {
            <title-template [slide]="$any(slide())" />
        }
    </div>

    <div class="button text-button" id="fullscreen-btn" (click)="enterFullscreen()">
        Fullscreen
    </div>
</main>