.top-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 15%;
    justify-content: space-between;
    align-items: center;
}
.top-bar h2 {
    margin-left: 10%;
    font-size: 8vh;
}
.top-bar h2::first-line {
    font-size: 12vh;
}
.top-bar h3 {
    text-align: right;
    font-size: 8vh;
}
.top-bar h3::first-line {
    font-size: 10vh;
}

.song-template {
    width: 100%;
}

.song-template p {
    width: 100%;
    text-align: center;
    white-space: pre-line;
    overflow-y: auto;
    scrollbar-width: 0px;
    font-size: 8vh;
}