section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h2 {
    margin: 0px;
}

.slides {
    overflow-y: auto;
    scrollbar-color: grey #292C79;
    padding-right: 2px;
}

context-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #292C79;
    padding: 2px;
    box-shadow: 1px 1px gray;
    z-index: 2;
}

edit-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    margin-top: auto;
}
.controls .button {
    margin: 0px 5px;
    width: 70px;
    height: 70px;
}

@media (width < 800px) {
    edit-dialog {
        left: 0px;
    }

    .controls {
        display: none;
    }
}