section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h2 {
    margin: 0px;
}

.slides {
    overflow-y: auto;
    padding-right: 2px;
    flex-grow: 1;
    min-height: 0;
}

.controls {
    display: flex;
    flex-direction: row;
    align-self: center;
}
.controls .button {
    margin: 0px 5px;
    width: 70px;
    height: 70px;
}

@media (width < 800px) {
    .controls {
        display: none;
    }
}