@if (!isHidden()) {
<th class="key-field">{{friendlyKey()}}</th>
<td class="value-field">
    @if (key() == 'subtype') {
        @if (slide()['type'] == "slide") {
            <select [(value)]="val" (change)="onChange($event)">
                <option value="">(Select one)</option>
                <option value="welcome">Welcome</option>
                <option value="bible">Bible</option>
                <option value="song">Song</option>
                <option value="title">Title</option>
                <option value="image">Image</option>
            </select>
        } @else if (slide()['type'] == 'media') {
            <select [(value)]="val" (change)="onChange($event)">
                <option value="">(Select one)</option>
                <option value="youtube">Youtube</option>
                <option value="video">Video</option>
            </select>
        }
        
    } @else if (key() == 'version') {
        <select [(value)]="val" (change)="onChange($event)">
            <option selected>(default)</option>
            <option value="CUVMPS">Chinese Union Version (Modern Punct., Simplified) (CUVMPS)</option>
            <option value="CUVMPT">Chinese Union Version (Modern Punct., Traditional) (CUVMPT)</option>
            <option value="NIV">New Intl Version (NIV)</option>
        </select>
    } @else if (key() == 'subslides') {
        <textarea
            rows="15"
            [value]="val().join('N\n')"
            (change)="onChange($event)"
        >
        </textarea>
    } @else if (key() == 'subtitles') {
        <select [(value)]="val" (change)="onChange($event)">
            <option value="">None</option>
            <option value="en">English</option>
            <option value="zh">Chinese</option>
        </select>
    } @else {
        <div
            class="text-input"
            contenteditable="plaintext-only"
            (blur)="onChange($event)"
            [innerHTML]="val()"
        >
        </div>
    }
    <div class="loading-backdrop" [class.hidden]="!loading()">
        <div class="loading-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p>Please wait...</p>
    </div>
</td>
@if (autoLabel()) {
    <td class="auto-field">
        <div class="button text-button secondary" (click)="auto()">
            {{autoLabel()}}
        </div>
    </td>
}
}