.key-field {
    grid-column: 1;
    text-align: left;
    font-weight: bold;
    margin: auto 0px; /* centre vertically */
}
.value-field {
    grid-column: 2;
    padding: 0px 10px;
}
.value-field > * {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
}
.auto-button {
    grid-column: 3;
    height: 23px;
    padding: auto;
    box-sizing: border-box;
    font-weight: normal;
}

.text-input {
    border: 1px solid grey;
    padding: 1px 3px;
    font-size: 14px;
}
.text-input[data-invalid=true] {
    color: red;
}
.text-input:focus {
    color: unset;
}
.text-input[data-key=videoId][data-invalid=false] {
    font-family: monospace;
}

select {
    background-color: #292C79;
    color: white;
    height: 23px;
}

.loading-backdrop {
    position: absolute;
    top: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 100, 100, 0.5);
}
.loading-backdrop p {
    font-weight: bolder;
    color:white;
}
