@media (width < 800px) {
    td.value-field {
        width: 50vw !important;
    }
}

th.key-field {
    text-align: left;
}
td.value-field {
    position: relative;
    width: 580px;
    padding: 0px 10px;
}
td.value-field > * {
    box-sizing: border-box;
    width: 580px;
    border-radius: 5px;
}

.text-input {
    border: 1px solid grey;
    padding: 1px 3px;
    font-size: 14px;
}
.text-input[data-invalid=true] {
    color: red;
}
.text-input:focus {
    color: unset;
}
.text-input[data-key=videoId][data-invalid=false] {
    font-family: monospace;
}

textarea {
    resize: none;
    background-color: #292C79;
    color: white;
}
select {
    background-color: #292C79;
    color: white;
    height: 23px;
}

td.auto-field .button {
    height: 23px;
    padding: auto;
    box-sizing: border-box;
    font-weight: normal;
}

.loading-backdrop {
    position: absolute;
    top: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 100, 100, 0.5);
}
.loading-backdrop p {
    font-weight: bolder;
    color:white;
}
