th.key-field {
    text-align: left;
}
td.value-field {
    width: 600px;
    padding: 0px 20px;
}
td.value-field > * {
    box-sizing:border-box;
    width: 100%;
}

.text-input {
    border: 1px solid grey;
    padding: 1px 3px;
    font-size: 14px;
}

textarea {
    resize: none;
}