.dialog-inner {
    display: flex;
    flex-direction: column;
    width: 800px;
}

h1 {
    text-transform: capitalize;
    text-align: center;
}

.table {
    flex: 1;
    overflow: auto;
    display: grid;
    grid-template-columns: max-content 9fr 1fr;
}
edit-field {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: subgrid;
    margin: 3px 0px;
    align-items: center;
}
edit-field:empty {
    margin: 0;
}

@media (max-aspect-ratio: 1/1) {
    .table {
        grid-template-columns: min-content 9fr 1fr;
    }
}