.dialog-inner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 20px;
    background-color: #292C79;
    border: 2px solid white;
    border-radius: 20px;
    z-index: 2;
}

h1 {
    text-transform: capitalize;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}
.toolbar .icon-button {
    width: 25px;
    aspect-ratio: 1/1;
}

.table {
    overflow: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
}
.buttons .button {
    margin: 10px;
    width: 150px;
}

@media (width < 800px) {
    .dialog-inner {
        width: calc(100vw - 40px);
    }
}