main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 5px;
    height: 100vh;

    background-color: #292C79;
    color: white;
}

p.connection-status-row {
    width: 100%;
}

.icon-button {
    width: 30vw;
}


.toggle-button-group {
    display: inline flex;
    flex-direction: column;
    margin: 10px 0px;
}
.toggle-button-group .button {
    border: 1px solid white;
    border-radius: 0px;
    margin: 0px;
    width: 65px;
    height: 25px;
}
.toggle-button-group .button:hover {
    background-color: white;
    color: #292C79;
    opacity: 0.7;
}
.toggle-button-group .button.selected {
    background-color: white;
    color: #292C79;
    opacity: 1;
}
.toggle-button-group .button:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.toggle-button-group .button:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}