.playlist-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playlist-btns p {
    margin-right: 5px;
}

.playlist-btns .icon-button {
    width: 40px;
    height: 40px;
}

.icon-button > *:first-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.context-menu {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #292C79;
    padding: 2px;
    box-shadow: 1px 1px gray;
    z-index: 2;
}

new-playlist-dialog {
    position: absolute;
    left: calc((100vw - 800px) / 2);
    top: calc((100vh - 500px) / 2);
}

@media (width < 800px) {
    new-playlist-dialog {
        left: 0px;
    }
}