<new-playlist-dialog
    [class.hidden]="!newPlaylistDialogOpen()"
    [errorMessage]="newPlaylistDialogErr()"
    (submit)="onNewPlaylistSubmit($event)"
/>
<div class="playlist-btns">
    <p>{{playlist()?.name}}</p>
    <input #fileInput class="hidden" type="file" accept=".txt,.json" (change)="openPlaylist($event)" />
    <div
        class="button icon-button toggle-button"
        [attr.data-active]="contextMenuOpen() == 'open'"
        (click)="showOpenContextMenu()"
    >
        <img src="icons/open-folder.svg" title="Open Playlist">
    </div>
    @if (contextMenuOpen() == 'open') {
        <div
            class="context-menu open-context-menu"
            #openContextMenu
        >
            <div class="button text-button" (click)="openPlaylistFileSelector()">
                Open local file
            </div>
            <div class="button text-button" (click)="openCloudPlaylist()">
                Open from cloud
            </div>
        </div>
    }
    <div class="button icon-button" (click)="newPlaylist()">
        <img src="icons/write.svg" title="Write Playlist">
    </div>
    <div
        class="button icon-button toggle-button"
        [attr.data-active]="contextMenuOpen() == 'save'"
        (click)="showSaveContextMenu()"
    >
        <img src="icons/save.svg" title="Save Playlist">
    </div>
    @if (contextMenuOpen() == 'save') {
        <div
            class="context-menu save-context-menu"
            #saveContextMenu
        >
            <div class="button text-button" (click)="savePlaylist($event)">
                Save locally
            </div>
            <div class="button text-button" (click)="saveCloudPlaylist($event)">
                Save to cloud
            </div>
        </div>
    }
    <div class="button icon-button" (click)="closePlaylist()">
        <img src="icons/close-square.svg" title="Close Playlist">
    </div>
</div>