.dialog-inner {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 500px;
    padding: 20px;
    background-color: #292C79;
    border: 2px solid grey;
    border-radius: 20px;
    z-index: 2;
}

.toolbar {
    display: flex;
    justify-content: flex-start;
    width: 90%;
}
.toolbar .button {
    height: 30px;
    aspect-ratio: 1/1;
}

textarea {
    width: 90%;
    height: 400px;
    margin: 10px;
    background-color: #292C79;
    color: white;
    scrollbar-color: grey #292C79;
}

toast {
    width: 90%;
}

.buttons {
    display: flex;
    flex-direction: row;
}
.buttons .button {
    margin: 10px;
    width: 150px;
}

@media (width < 800px) {
    .dialog-inner {
        width: calc(100vw - 40px);
    }
}