.dialog-inner {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 800px;
    height: 500px;
}

.toolbar {
    display: flex;
    justify-content: flex-start;
}
.toolbar .button {
    height: 30px;
    aspect-ratio: 1/1;
}

textarea {
    height: 80%;
}
