body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0px;
}

h1 {
    font-size: 2em;
}

.button {
    border-radius: 10px;
    padding: 10px;
    opacity: 0.8;
    transition: all 0.1s ease-in-out;
}
.button:hover {
    cursor: pointer;
    opacity: 1;
}
.button[data-disabled=true] {
    pointer-events: none;
    cursor: default;
    transition: none;
}

.icon-button {
    filter: invert(98%) sepia(1%) saturate(417%) hue-rotate(281deg) brightness(117%) contrast(100%);
    color: white;
    border: 1px solid transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-button > *:first-child {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.icon-button:hover {
    border-color: grey;
    box-shadow: 3px 3px grey;
}
.icon-button:active {
    transform: translate(3px,3px);
    box-shadow: none;
}
.icon-button.toggle-button[data-active=true] {
    border-color: grey;
    transform: translate(3px,3px);
    box-shadow: none;
}

.text-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.7;
}
.text-button:hover {
    opacity: 1;
}
.text-button[data-disabled=true] {
    opacity: 0.5;
}
.text-button.primary {
    background-color: white;
    color: #292C79;
}
.text-button.secondary {
    border: 1px solid white;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.context-menu {
    z-index: 2;
}
.context-menu .button {
    border: none;
    border-radius: 0px;
    height: 25px;
    line-height: 25px;
    padding: 5px;
}
.context-menu .button:first-child {
    border-radius: 20px 20px 0px 0px;
}
.context-menu .button:last-child {
    border-radius: 0px 0px 20px 20px;
}
.context-menu .button:hover {
    border: none;
    background-color: white;
    color: #292C79;
}
.context-menu button:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.context-menu button:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.hidden {
    display: none !important;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}