<div class="dialog-inner">
    <h1>Remote Control Setup</h1>
    <div class="password-area">
        <p>
            Password:
            @if (password()) {
                <span class="conn-str-status provided">Provided</span>
            } @else {
                <span class="conn-str-status">Not Provided</span>
            }
        </p>
        <a (click)="changePassword()">Change</a>
    </div>
    @if (remoteUrl()) {
        <p id="prompt1">Scan this QR code</p>
        <a [href]="remoteUrl()"><img [src]="qrSrc()" /></a>
    } @else {
        <p>Please set the password</p>
    }
    <div class="button icon-button" (click)="closeDialog.emit()">
        <img src="icons/close.svg">
    </div>
</div>