section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h2 {
    margin: 0px;
}

.media-list {
    overflow-y: auto;
    scrollbar-color: grey #292C79;
    padding-right: 2px;
}

context-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #292C79;
    padding: 2px;
    box-shadow: 1px 1px gray;
    z-index: 2;
}

edit-dialog {
    position: absolute;
    left: calc((100vw - 800px) / 2);
    top: calc((100vh - 500px) / 2);
}

.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    margin-top: auto;
    justify-content: center;
}
.controls .section {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.controls .button {
    margin: 0px 5px;
    width: 85px;
    height: 85px;
    box-sizing: border-box;
}
.controls .time-display {
    margin: 0px 5px;
    width: 85px;
    text-align: center;
}

@media (width < 800px) {
    edit-dialog {
        left: 0px;
    }
}