<section>
    <h2>Media</h2>
    <context-menu
        [class.hidden]="contextMenuOpen() == ''"
        [style.left.px]="contextMenuPos()[0]"
        [style.top.px]="contextMenuPos()[1]"
        [type]="'media'"
        [id]="contextMenuOpen()"
        (action)="onContextMenuClose($event)"
        (blur)="onContextMenuClose()"
    />
    @if (editDialogInput()) {
        <edit-dialog
            [editIn]="$any(editDialogInput())"
            (close)="onCloseEditDialog($event)"
        />
    }
    <div class="media-list">
        @for (item of playlist()?.media; track item.id) {
            <media
                [attr.data-id]="item.id"
                [data]="item"
                (select)="onMediaSelect(item.id)"
                [selected]="curMediaId() === item.id"
                (contextmenu)="onContextMenu($event)"
            ></media>
        }
        <div class="button text-button primary" (click)="openInsertDialogAtEnd()">
            New Media
        </div>
    </div>
    <div class="controls">
        <div class="section">
            <div
                class="button icon-button"
                (click)="prevMedia($event)"
                title="Previous Media"
            >
                <img src="icons/up-arrow.svg">
            </div>
            <div
                class="button icon-button"
                (click)="nextMedia($event)"
                title="Next Media"
            >
                <img src="icons/down-arrow.svg">
            </div>
        </div>
        <div class="section">
            <div
                class="button icon-button"
                (click)="playPause()"
                title="Play/Pause"
            >
                <img src="icons/play-pause.svg">
            </div>
            <div
                class="button icon-button"
                (click)="stop()"
                title="Stop (Restart)"
            >
                <img src="icons/stop.svg">
            </div>
            <div class="time-display">
                {{playbackStatus().timeDisplay}}
            </div>
        </div>
    </div>
</section>